.attribute {
  border-top: 0.5px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: black;
}

.dataWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.dataAttribute {
  width: 100%;
}

.dataValue {
  width: 100%;
  border-left: 0.1px dashed black;
  padding-left: 2px;
}

#info {
  width: 90%;
}

img {
  border: 2px solid black;
  margin-bottom: 5px;
  max-width: 100%;
}

video {
  border: 2px solid black;
  margin-bottom: 5px;
  max-width: 100%;
}

#content {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
