body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  gap: 10px;
}

#contentWrap {
  display: flex;
  flex-direction: column;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 5px;
}

#indexingCard {
  display: none;
}
