body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-left: 0;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
}

#contentWrap {
  display: flex;
  flex-direction: column;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 5px;
}

#indexingCard {
  display: none;
}

#statsHolder {
  display: flex;
  flex-direction: column;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  border: 0.2px solid black;
  padding: 5px;
}
